<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
          $('input').filter('.date_picker').datepicker({dateFormat: 'yy-mm-dd'});
      });
    </script>
    <style type="text/css">
      * {
      margin: 0;
      padding: 0;
      }
      .content {
      padding-top: 20px;
      }
      h2, h3, h4, h5 {
      text-align: center;
      }
      .tabela {
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
      }
      table {
      width: 100%;
      }
      th, tr {
      border-bottom: 1px solid #ddd;
      }
      td, th {
      padding: 5px;
      text-align: center;
      }
      footer {
      text-align: right;
      }
    </style>
    <script>
      $(document).ready(function(){
          $("#edit_ativ").click(function(){
              $("div.editar_atividade").show();
          });
      });
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css" />
    <script src="/static/js/bootstrap-tagsinput.min.js"></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <img src="/static/img/ita_logo.jpg" style="height: 75px;">
        </div>
        <div class="col-sm-6">
          <h2 align="center">Olá {{professor.user}}</h2>
          <h4 align="center">{{professor.user.email}}</h4>
        </div>
        <div class="col-xs-3" style="text-align: right;">
          <p style="line-height: 40px;"><a href="/aluno/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-home"></span> Workspace</a> | <a href="/logout" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-off"></span> Log Out</a></p>
        </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <div class="caption">
              <a href="#" id="edit_ativ" class="btn btn-lg btn-block btn-default" role="button">Editar atividade</a>
              <div class="editar_atividade" style="display: none;">
                <br>
                <form method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="post_edit_atividade" value="True">
                  <input type="hidden" name="id_atividade" value={{atividade.id}}>
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                    <label for="{{field.id}}">{{field.label}}:</label>
                    {{field}}
                  </div>
                  {% endfor %}
                   <div class="form-group">
                <!-- Testes com Restrições -->
                <label>Restrições na Submissão:</label>
                    <input type="text" name=restricoes class="form-control" value="goto" data-role="tagsinput" id="restricoes"/>
                            <script>
                              $("#restricoes").tagsinput({
                                maxChars: 36,
                                trimValue: true,
                                tagClass: 'label label-danger label-important'
                              });
                            </script>
                <br>
              </div>
                {% if atividade.teste_publico %}
                <!-- Testes Públicos -->
                <div class="thumbnail">
                  <!-- Rounded switch -->
                  <div align="left">
                    <h4>Testes Públicos:</h4>
                    <label class="switch">
                      <input type="checkbox" unchecked id="teste_publico" name=teste_publico>
                      <div class="slider round"></div>
                      <script>
                        $("#teste_publico").click(function() { 
                          if ($("#teste_publico").is(":checked")) {
                            $("#fieldPublic1").fadeIn("slow");
                            if (!$("#teste_customizado").is(":checked")) {
                              $("#fieldPublic2").fadeIn("slow");
                              $("#fieldPublic3").fadeIn("slow");
                            }
                          } else {
                            $("#fieldPublic1").fadeOut("slow");
                            $("#fieldPublic2").fadeOut("slow");
                            $("#fieldPublic3").fadeOut("slow");
                          } 
                        });
                      </script>
                    </label>
                  </div>
                  <div class="form-group" id="fieldPublic1" hidden>
                    <p>Essa opção é obrigatória para a lógica convencional, pois o teste público tem caráter obrigatório.</p>
                    <label>Novo arquivo de entrada público (opcional):</label>
                    <input type="file" id="arquivo_entrada" name=arquivo_entrada>
                  </div>
                  <div class="form-group" id="fieldPublic2" hidden>
                    <div align="left"><label>Novo arquivo de saida público (opcional):</label></div>
                    <input type="file" id="arquivo_saida" name=arquivo_saida>
                  </div>
                  <div class="form-group" id="fieldPublic3" hidden>
                    <div align="left"><label>Peso do arquivo público:</label></div>
                    <input type="text" id="peso1" value="1" name=peso1>
                  </div>
                </div>
                {% endif %}

                {% if atividade.teste_privado %}
                <!-- Testes Privados -->
                <div class="thumbnail">
                  <!-- Rounded switch -->
                  <div class="form-group" align="left">
                    <h4>Testes Privados:</h4>
                    <label class="switch">
                      <input type="checkbox" unchecked id="teste_privado" name=teste_privado>
                      <div class="slider round"></div>
                      <script>
                        $("#teste_privado").click(function() { 
                          if ($("#teste_privado").is(":checked")) {
                            $("#fieldPriv1").fadeIn("slow");
                            if (!$("#teste_customizado").is(":checked")) {
                              $("#fieldPriv2").fadeIn("slow");
                              $("#fieldPriv3").fadeIn("slow");
                            }
                          } else {
                            $("#fieldPriv1").fadeOut("slow");
                            $("#fieldPriv2").fadeOut("slow");
                            $("#fieldPriv3").fadeOut("slow");
                          } 
                        });
                      </script>
                    </label>
                  </div>
                  <div class="form-group" id="fieldPriv1" hidden>
                    <p>Opcional. Selecionar essa opção fornece um arquivo de teste a mais para a correção. Esse arquivo não pode ser visto pelo aluno.</p>
                    <div align="left"><label>Novo rquivo de entrada privado (opcional):</label></div>
                    <input type="file" id="arquivo_entrada2" name=arquivo_entrada2>
                  </div>
                  <div class="form-group" id="fieldPriv2" hidden>
                    <div align="left"><label>Novo arquivo de saida privado (opcional):</label></div>
                    <input type="file" id="arquivo_saida2" name=arquivo_saida2>
                  </div>
                  <div class="form-group" id="fieldPriv3" hidden>
                    <div align="left"><label>Peso do arquivo privado:</label></div>
                    <input type="text" id="peso2" value="0" name=peso2>
                  </div>
                </div>
                {% endif %}

                {% if atividade.teste_customizado %}
                <!-- Testes Personalizados -->
                <div class="thumbnail">
                  <!-- Rounded switch -->
                  <div class="form-group" align="left">
                    <h4>Testes Personalizados:</h4>
                    <label class="switch">
                      <input type="checkbox" unchecked id="teste_customizado" name=teste_customizado>
                      <div class="slider round"></div>
                      <script>
                        $("#teste_customizado").click(function() { 
                          if ($("#teste_customizado").is(":checked")) {
                            $("#fieldCustom1").fadeIn("slow");
                            $("#fieldPublic2").fadeOut("slow");
                            $("#fieldPublic3").fadeOut("slow");
                            $("#fieldPriv2").fadeOut("slow");
                            $("#fieldPriv3").fadeOut("slow");
                          } else {
                            $("#fieldCustom1").fadeOut("slow");
                            if ($("#teste_publico").is(":checked")) {
                              $("#fieldPublic2").fadeIn("slow");
                              $("#fieldPublic3").fadeIn("slow");
                            }
                            if ($("#teste_privado").is(":checked")) {
                              $("#fieldPriv2").fadeIn("slow");
                              $("#fieldPriv3").fadeIn("slow");
                            }
                          }
                        });
                      </script>
                    </label>
                  </div>
                  <div class="form-group" id="fieldCustom1" hidden>
                    <p>Opcional. Essa opção sobrescreve testes convencionais. Para utilizar essa opção em conjunto com arquivos de entrada, fornece as entradas nas opções acima.</p>
                    <div align="left"><label>Novo código do testador (opcional):</label></div>
                    <input type="file" id="arquivo_testador" name=arquivo_testador>
                  </div>
                </div>
                {% endif %}

                  <p><button class="btn btn-lg btn-success btn-block" type="submit">Concluir</button></p>
                </form>
                <br>
                <form method="POST" enctype="multiplart/form-data">
                  <input type="hidden" name="post_del_ativ" value="True">
                  {% csrf_token %}
                  <p><button class="btn btn-lg btn-block btn-danger" type="submit" href="/professor">Deletar atividade</button></p>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-xs-12 col-sm-4">
          <h2>{{atividade.nome}}</h2>
          <h3>{{atividade.turma.nome}} - Prof. {{atividade.turma.professor.nome}}</h3>
          {% if atividade.estaFechada %}
          <h4 style="color:red">Status: fechada (em {{atividade.data_limite}})</h4>
          {% else %}
          <h4 style="color:green">Status: aberta (até {{atividade.data_limite}})</h4>
          {% endif %}
          <h5>
          {% if atividade.test_publico %}
           Testes Públicos
          {% endif %}
          {% if atividade.teste_privado %}
           Testes Públicos
          {% endif %}
          {% if atividade.teste_customizado %}
           Testes Públicos
          {% endif %}
          </h5>
          <section class="tabela">
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Enviado</th>
                  <th>Status</th>
                  <th>Nota</th>
                </tr>
              </thead>
              <tbody>
                {% for nome, data, status, code_url, nota in status_aluno %}
                <tr>
                  <td><a href="{{code_url}}" target="_blank">{{nome}}</a></td>
                  <td>{{data}}</td>
                  <td>{{status}}</td>
                  <td>{{nota}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
          <form method="POST" enctype="multiplart/form-data">
            <input type="hidden" name="post_down_submissoes" value="True">
            {% csrf_token %}
          <p><button class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-save"></span> Download de todas submissões</button></p>
          </form>
          <form method="POST" enctype="multiplart/form-data">
            <input type="hidden" name="post_down_notas" value="True">
            {% csrf_token %}
            <p><button class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-save"></span> Download de tabela de notas</button></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
